@{
    ViewData["Title"] = "Home Page";
}
<style>

    .container {
        position: relative;
    }


    .text-block {
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
    }
</style>

<div class="container text-center">

    <br>
    <div class="jumbotron">
        <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> Learn coding with Learn2Code</p>
        <h2>Enjoy Learning !</h2><br>
        <p>
            A broad selection of courses
            Choose from 155,000 online video
            courses with new additions published every month
        </p><br>
        <div class="container">
            <img src="/assets/home5.jpg" alt="Image" width="100%" />
            <div class="text-block">
                <a asp-action="StudentLogin" asp-controller="Student" class="btn btn-warning">Get Started</a>
            </div>
        </div>

    </div>
</div>
<br>
<div class="container">
    <div class="jumbotron">

        <img src="/assets/home1.jpg" alt="Image" width="100%" />
    </div>

</div>