@{
    ViewData["Title"] = "Privacy Policy";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
    body {
        color: black;
    }
    body {
        background-color: darkseagreen;
    }

    .first {
        padding-left: 60px;
        /* padding-top: 20px; */
        padding-right: 60px;
    }

    .font {
        padding-left: 42%;
    }
    /* .img{
    align-items: center;
} */
</style>

<div class="first">
    <h2>Privacy Policy</h2>
    <p>This Privacy Policy was last updated on April 1, 2021.</p>
    <br>
    <p>
        Thank you for joining the online learning marketplaces. We respect your privacy and want you to understand how we collect, use, and share data about you. This Privacy Policy covers our data collection practices and describes your rights to access, correct, or restrict our use of your personal data.
    </p>
    <br>
    <p>Unless we link to a different policy or state otherwise, this Privacy Policy applies when you visit or use the websites, mobile applications, APIs or related services (the “Services”). It also applies to prospective customers of our business and enterprise products.</p>
    <br>
    <p><strong>By using the Services, you agree to the terms of this Privacy Policy.</strong>You shouldn’t use the Services if you don’t agree with this Privacy Policy or any other agreement that governs your use of the Services.</p>
</div>
<div class="font">
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/?lang=en-in"> <i class="fab fa-twitter"></i></a>
</div>
@*<div class="img">
    <img src="~/assets/certificate.jpg" style="padding-left: 25%;" alt="Certificate">
</div>*@


