@model Elearn.ElearnModel.Course

@{
    ViewData["Title"] = "Update";
}

<style>
    body {
        color: white;
    }
</style>

<div class="row justify-content-center">
    <div class="col-md-4">
        <h4>Edit your Course !</h4>
        <form asp-action="Update" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Courseid" />
            <div class="form-group">
                <label asp-for="Coursename" class="control-label"></label>
                <input asp-for="Coursename" class="form-control" />
                <span asp-validation-for="Coursename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn bg-danger" asp-action="CourseIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
